[MASTER]
init-hook='import sys; sys.path.append(".")'
[MESSAGES CONTROL]
# C0114: Missing module docstring (missing-module-docstring)
# C0116: Missing function or method docstring (missing-function-docstring)
# C0301: Line too long (line-too-long)
# E0401: Unable to import 'module' (import-error)
# R0801: Similar lines in 2 files
disable=C0114,C0116,C0301,E0401,R0801